<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= t "#{current_page.data.heading.downcase}.header" %> | Studio Prestige</title>
    <meta name="description" content="<%= t "meta.description" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>

  </head>
  <body class="<%= page_classes %>">

    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="site-container">

      <%= partial :nav %>
      <%= partial :header %>

      <%= yield %>

      <%= partial :cta %>
      <%= partial :footer %>

    </div>

    <%= partial :ga %>
    <%= javascript_include_tag 'main' %>
    <%= yield_content :page_scripts %>

  </body>
</html>
