<footer class="main-footer">
  <div class="site-wrapper">
  <ul class="main-footer__items">
    <% data.menuElements.top.each do |menuElement| %>
      <li><a href="<%= tlink "#{section}/#{menuElement.href}" %>"<%= (current_page.path.split('.')[0] == menuElement.href[1..-1] ? ' class="active"' : '') %>><%= t "nav.#{menuElement.title}" %></a></li>
    <% end %>
    <li><a href="<%= translated_url other_lang %>"><%= other_lang.capitalize %></a></li>
  </ul>
  <div class="main-footer__social">
    <a class="main-footer__social__link" href="#"><span class="icon icon--facebook"></span>Facebook</a>
    <a class="main-footer__social__link" href="#"><span class="icon icon--instagram"></span>Instagram</a>
  </div>
  </div>
</footer>
