---
heading: Services
---

<section class="section section--border center">
  <div class="site-wrapper site-wrapper--small">
    <h2>Registration</h2>
    <p>Simply fill out the form below to register for one of our classes.</p>
    <form action="#">
      <input class="field-input" type="text" placeholder="Name" name="name">
      <input class="field-input" type="email" placeholder="Email" name="email">
      <input class="field-input field-input--file" type="file" name="file">
      <button class="field-input field-input--button">Send message</button>
    </form>
  </div>
</section>

<section class="section center">
  <div class="site-wrapper site-wrapper--medium">
    <h2>Schedule</h2>

    <div class="schedule-day">
      <h3><%= t "services.week.monday" %></h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Rap</div>
        <div class="schedule-line__time">18:30 - 19:15</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Releve</div>
        <div class="schedule-line__time">19:15 - 21:15</div>
      </div>
    </div>

    <div class="schedule-day">
      <h3><%= t "services.week.tuesday" %></h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Mise en forme</div>
        <div class="schedule-line__time">17:15 - 19:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Zumba</div>
        <div class="schedule-line__time">19:00 - 20:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Lyrique/contemp.</div>
        <div class="schedule-line__time">20:00 - 21:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Hip hop Ado.</div>
        <div class="schedule-line__time">21:00 - 22:00</div>
      </div>
    </div>

    <div class="schedule-day">
      <h3><%= t "services.week.wednesday" %></h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Mise en forme</div>
        <div class="schedule-line__time">17:45 - 18:45</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Studio Libre</div>
        <div class="schedule-line__time">18:45 - 19:15</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Troupe Choreo</div>
        <div class="schedule-line__time">19:15 - 20:45</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Hip hop Adulte</div>
        <div class="schedule-line__time">20:45 - 22:00</div>
      </div>
    </div>

    <div class="schedule-day">
      <h3><%= t "services.week.thursday" %></h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Mise en forme</div>
        <div class="schedule-line__time">18:00 - 18:45</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Claquette</div>
        <div class="schedule-line__time">18:45 - 19:45</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Compe troupe tech. (drop in)</div>
        <div class="schedule-line__time">19:45 - 21:45</div>
      </div>
    </div>

    <div class="schedule-day">
      <h3><%= t "services.week.friday" %></h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Zumba</div>
        <div class="schedule-line__time">19:00 - 20:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Hip hop 9-12 ans</div>
        <div class="schedule-line__time">20:00 - 21:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Hip hop Ado.</div>
        <div class="schedule-line__time">21:00 - 22:00</div>
      </div>
    </div>

    <div class="schedule-day">
      <h3><%= t "services.week.saturday" %></h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Mise en forme</div>
        <div class="schedule-line__time">9:00 - 10:00</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">2-3 ans</div>
        <div class="schedule-line__time">10:00 - 10:45</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Claquette 4-6 ans</div>
        <div class="schedule-line__time">11:00 - 11:30</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Jazz 4-6 ans</div>
        <div class="schedule-line__time">11:30 - 12:15</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Hip hop 6-8 ans</div>
        <div class="schedule-line__time">12:30 - 13:15</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Lil chix</div>
        <div class="schedule-line__time">13:15 - 14:30</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Formation 8-10 ans</div>
        <div class="schedule-line__time">14:30 - 15:45</div>
      </div>
    </div>

    <div class="schedule-day">
      <h3><%= t "services.week.sunday" %></h3>
      <div class="schedule-line">
        <div class="schedule-line__event">Formation 11-14 ans</div>
        <div class="schedule-line__time">11:15 - 12:30</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Hip hop 4-5 ans</div>
        <div class="schedule-line__time">12:30 - 13:15</div>
      </div>
      <div class="schedule-line">
        <div class="schedule-line__event">Claquette int.</div>
        <div class="schedule-line__time">13:15 - 14:15</div>
      </div>
    </div>

  </div>
</section>
