<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Studio Prestige</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>

  </head>
  <body>

    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="preloader">
      <%= partial :logo %>
    </div>

    <section class="index">
      <a href="<%= tlink "dance" %>" class="index__section index__section--purple">
        <div class="index__section__content">
          <h3><%= t "index.dance.title" %></h3>
          <h1><%= t "index.dance.text" %></h1>
          <span class="btn btn--white"><%= t "index.learn_more" %></span>
        </div>
        <div class="index__section__image"></div>
      </a>
      <a href="<%= tlink "group" %>" class="index__section index__section--blue">
        <div class="index__section__content">
          <h3><%= t "index.group.title" %></h3>
          <h1><%= t "index.group.text" %></h1>
          <span class="btn btn--white"><%= t "index.learn_more" %></span>
        </div>
        <div class="index__section__image"></div>
      </a>
    </section>

    <%= partial :ga %>
    <%= javascript_include_tag 'main' %>

  </body>
</html>
