---
heading: About
---

<section class="section section--border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "about.title" %></h2>
    <p class="large"><%= t "about.intro" %></p>
  </div>
</section>

<section class="section border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--small">
    <h2><%= t "about.courses" %></h2>
    <p><%= t "about.text" %></p>
    <ul>
      <li><%= t "about.course1" %></li>
      <li><%= t "about.course2" %></li>
      <li><%= t "about.course3" %></li>
      <li><%= t "about.course4" %></li>
      <li><%= t "about.course5" %></li>
      <li><%= t "about.course6" %></li>
      <li><%= t "about.course7" %></li>
      <li><%= t "about.course8" %></li>
      <li><%= t "about.course9" %></li>
    </ul>
  </div>
</section>
