---
heading: Services
---

<section class="section section--border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "group.service.trx.title" %></h2>
    <p><%= t "group.service.trx.description" %></p>
    <a class="btn" href="https://clients.mindbodyonline.com/classic/ws?studioid=270066&stype=-7&sTG=22&sVT=9&sView=week&sLoc=1"><%= t "group.service.cta" %></a>
  </div>
</section>

<section class="section section--border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "group.service.bootcamp.title" %></h2>
    <p><%= t "group.service.bootcamp.description" %></p>
    <a class="btn" href="https://clients.mindbodyonline.com/classic/ws?studioid=270066&stype=-7&sTG=22&sVT=11&sView=week&sLoc=1"><%= t "group.service.cta" %></a>
  </div>
</section>

<section class="section section--border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "group.service.zumba.title" %></h2>
    <p><%= t "group.service.zumba.description" %></p>
    <a class="btn" href="https://clients.mindbodyonline.com/classic/ws?studioid=270066&stype=-7&sTG=22&sVT=11&sView=week&sLoc=1"><%= t "group.service.cta" %></a>
  </div>
</section>

<section class="section section--border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "group.service.ab.title" %></h2>
    <p><%= t "group.service.ab.description" %></p>
    <a class="btn" href="https://clients.mindbodyonline.com/classic/ws?studioid=270066&stype=-7&sTG=22&sVT=11&sView=week&sLoc=1"><%= t "group.service.cta" %></a>
  </div>
</section>

<section class="section section--border center wow animated fade-in-up">
  <div class="site-wrapper site-wrapper--medium">
    <h2><%= t "group.service.evo.title" %></h2>
    <p><%= t "group.service.evo.description" %></p>
    <a class="btn" href="https://clients.mindbodyonline.com/classic/ws?studioid=270066&stype=-7&sTG=22&sVT=11&sView=week&sLoc=1"><%= t "group.service.cta" %></a>
  </div>
</section>